<ion-header collapse="fade" [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title color="light">
      Home
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button color="secondary" routerLink="/settings">
        <ion-icon slot="icon-only" name="cog"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-searchbar showCancelButton="focus" placeholder="Company, category, expense ..."></ion-searchbar>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">

    <ion-list-header>
      <ion-label color="tertiary">Card/List Sample</ion-label>
    </ion-list-header>

    <!-- Skeletons -->
    <ion-list class="item-card-list animate__animated animate__fadeIn" *ngIf="!content_loaded">
      <ion-item lines="none" color="primary" *ngFor="let i of [].constructor(3);">
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h3><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></h3>
          <p><ion-skeleton-text animated style="width: 30%"></ion-skeleton-text></p>
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-list class="item-card-list animate__animated animate__fadeIn" *ngIf="content_loaded" lines="none">
      <ion-item color="primary" button detail>
        <ion-label color="medium">
          <h3>$12,123.99</h3>
          <p>Deutsche Bank AG</p>
        </ion-label>
      </ion-item>

      <ion-item color="primary" button detail>
        <ion-label color="medium">
          <h3>$255,000</h3>
          <p>Bitcoin</p>
        </ion-label>
      </ion-item>

      <ion-item color="primary" button detail>
        <ion-label color="medium">
          <h3>$1,500.00</h3>
          <p>PayPal</p>
        </ion-label>
      </ion-item>
    </ion-list>

    <hr>

    <ion-list-header>
      <ion-label color="tertiary">Card/List Sample 2</ion-label>
      <ion-button color="medium" *ngIf="content_loaded">See All <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-list-header>

    <!-- Skeletons -->
    <ion-list class="list-custom animate__animated animate__fadeIn" lines="full" *ngIf="!content_loaded">
      <ion-item color="primary" *ngFor="let i of [].constructor(3);">
        <ion-label color="medium">
          <h3><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></h3>
          <p><ion-skeleton-text animated style="width: 70%"></ion-skeleton-text></p>
        </ion-label>
        <ion-skeleton-text slot="end" animated style="width: 10%"></ion-skeleton-text>
      </ion-item>
    </ion-list>

    <ion-list class="list-custom animate__animated animate__fadeIn" lines="full" *ngIf="content_loaded">
      <ion-item color="primary" button detail="false">
        <ion-avatar slot="start" class="ion-avatar-default-icon">
          <ion-icon color="tertiary" size="large" name="cafe-outline"></ion-icon>
        </ion-avatar>

        <ion-label>
          <h3>Coffee</h3>
          <p>Lorem Ipsum &middot; 09.04.2023</p>
        </ion-label>
        <ion-badge color="danger" slot="end">- $7.50</ion-badge>
      </ion-item>

      <ion-item color="primary" button detail="false">
        <ion-avatar slot="start" class="ion-avatar-default-icon">
          <ion-icon color="tertiary" size="large" name="cash-outline"></ion-icon>
        </ion-avatar>

        <ion-label>
          <h3>Salary</h3>
          <p>Lorem Ipsum Inc. &middot; 06.03.2023</p>
        </ion-label>
        <ion-badge color="secondary" slot="end">$7500</ion-badge>
      </ion-item>

      <ion-item color="primary" button detail="false">
        <ion-avatar slot="start" class="ion-avatar-default-icon">
          <ion-icon color="tertiary" size="large" name="home-outline"></ion-icon>
        </ion-avatar>

        <ion-label>
          <h3>Rent</h3>
          <p>Lorem Inc. &middot; 03.02.2023</p>
        </ion-label>
        <ion-badge color="danger" mode="ios" slot="end">- $1800.00</ion-badge>
      </ion-item>
    </ion-list>

  </div>

</ion-content>
