<!-- <ion-header collapse="fade" [translucent]="true">

</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-toolbar style="text-align: center;font-weight: 600;">
    <ion-title>
      Home
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button routerLink="/settings">
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <div style="text-align: center;">
    <img src="../../../../assets/home.png">
  </div>
</ion-content>
