<!-- 
<ion-header collapse="fade" [translucent]="true">
</ion-header> -->
<ion-content [fullscreen]="true">
  <ion-toolbar style="text-align: center;font-weight: 600;">
    <ion-title>
      QR
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button routerLink="/settings">
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-card>
    <qrcode [qrdata]="qrCode" [width]="300" [errorCorrectionLevel]="'M'"></qrcode>
    <!-- <img src="../../../../assets/frame.png"> -->
  </ion-card>
  <br><br>
  <div style="text-align: center;">
    <ion-button id="bouton" style="">Code Scan</ion-button>
  </div>
  <div>

  </div>


</ion-content>
