:host {
#login{
  background:url("https://github.com/ineslehbib/ionic-start-theme/blob/Ines-lahbib/src/assets/background.png") no-repeat center center;
}
    .logo-container {
        text-align: center;
    }
    h1 {
      font-size: 32px;
      font-weight: 800;
    }

    p {
      margin-bottom: 42px;
    }
 #login-content {
   background-color: #eac24d;
   height: 74vh;
   width: 100%;
   max-width: 500px;
   right: 0;
   left: 0;
   bottom: 0;
   position: fixed;
}
}
                          
