<ion-content>

  <div class="ion-padding ion-full-height ion-flex ion-flex-center">
  <ion-img src="../../../../assets/logo.png" style="height: 300px;width: 350px;"></ion-img>

    <!-- Login form -->
  <div id="login-content">

        <form class="form-default" [formGroup]="signin_form" (submit)="signIn()">
          <ion-item class="animate__animated animate__fadeInUp">
            <ion-label position="floating">
              <ion-icon name="card-outline"></ion-icon>
              Numéro de la carte
            </ion-label>
            <ion-input type="Integer" formControlName="email"></ion-input>
            </ion-item>
            <br>
            <ion-item class="animate__animated animate__fadeInUp">
              <ion-label position="floating">
                <ion-icon name="lock-closed-outline"></ion-icon>
              Mot de passe
              </ion-label>
              <ion-input color="secondary" formControlName="password" type="password" placeholder="Mot de passe"></ion-input>
            </ion-item>
            <br>
            <ion-button class="ion-button-small ion-margin-top-medium ion-button1" type="submit" expand="block" size="medium"
              color="light" fill="clear">
              Accéder
            </ion-button>
            <!-- <ion-button class="ion-button-small ion-margin-top-medium ion-button1" routerLink="/home" expand="block" size="medium"
                          color="light" fill="clear">
                          Accéder
                        </ion-button> -->
            <!-- <ion-button color="light" fill="clear" expand="block" class="ion-button-small ion-margin-top-medium"
            routerLink="/password-reset">
            Forgot password?
          </ion-button> -->
          </form>
              <div class="ion-text-center ion-margin-top">
      <ion-text color="light">
        <small>Deltasoft International</small>
      </ion-text>
    </div>

    </div>

  </div>
</ion-content>
