<ion-split-pane>
  <ion-menu>
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>
          Favorites
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item>
            <ion-avatar slot="start">
              <img src="../assets/icon/favicon.png" alt="" />
            </ion-avatar>
            <ion-label>
              <h2>test</h2>
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-split-pane>
