<ion-split-pane>
  <ion-menu>
    <ion-header>
      <ion-toolbar color="dark">
      <ion-list>
        <ion-menu-toggle>
          <ion-item color="dark">
            <ion-avatar slot="start">
              <img src="../assets/icon/logo-icon.png" alt="" />
            </ion-avatar>
            <ion-label>
              <h2 ion-text color="light">Ionic 4 Start Theme</h2>
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
      </ion-toolbar>
    </ion-header>
    <ion-content class="dark-bg">
      <ion-list>
        <ion-item color="dark">
          <ion-icon name="home" slot="start"></ion-icon>
          <h2 ion-text color="light">Home</h2>
        </ion-item>
        <ion-item color="dark">
          <ion-icon name="document" slot="start"></ion-icon>
          <h2 ion-text color="light">Info</h2>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-split-pane>
