ion-label {
  font-size: 12px;
  font-weight: 500;
}
.icon {
  color: #523614 !important;
}

ion-tab-bar {
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}

ion-tabs {
  background-color: #eac24d;
}