<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home">
      <ion-icon name="home-outline" class="icon"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="charts">
      <ion-icon name="qr-code-outline" class="icon"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="payments">
      <ion-icon name="megaphone-outline" class="icon"></ion-icon>

    </ion-tab-button>

    <ion-tab-button tab="styleguide">
      <ion-icon name="book-outline" class="icon"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
