<ion-content [fullscreen]="true">
  <ion-toolbar style="text-align: center;font-weight: 600;">
    <ion-title>
      Promotions
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button routerLink="/settings">
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <!-- <ion-header>
    <ion-toolbar class="toolbar-search">
      <ion-searchbar showCancelButton="focus" placeholder="Recherche"></ion-searchbar>
    </ion-toolbar>
  </ion-header> -->
  <!-- 
      <ion-content style="font-weight: 600;">
        <ion-content>
          <ion-card *ngFor="let article of data">
            <ion-card-header>
              {{ article.Description }}
            </ion-card-header>
            <ion-card-content>
              {{ article.Last_Direct_Cost }}
            </ion-card-content>
          </ion-card>
        </ion-content> -->
  <ion-grid>
    <ion-row *ngFor="let row of chunkArray(data, 2)">
      <ion-col *ngFor="let article of row">
        <ion-card>
          <ion-card-header>
            <img
              src="https://static.vecteezy.com/system/resources/previews/019/614/284/non_2x/cheese-graphic-clipart-design-free-png.png">
            {{ article.Description }}
          </ion-card-header>
          <ion-card-content style="text-align: center;color:#523614 ;">
            {{ article.Last_Direct_Cost }} DT
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
