:host {
  body {
    background-color: var(--ion-color-dark);
  }

  ion-content,
  .toolbar-search {
    --background: linear-gradient(135deg, var(--ion-color-dark), var(--ion-color-primary));
  }

  ion-list {
    border-radius: 8px;
    margin-bottom: 8px;
    background-color: var(--ion-color-primary);
  }

  ion-label {
    font-size: 16px;
    font-weight: 700;
  }

}
