<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Home</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <p>test...</p>

  <ion-button expand="full" size="large" fill="clear" color="primary">Button</ion-button>

</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    asdasd
  </ion-toolbar>
</ion-footer>