<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Home</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="cog"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-row>
    <ion-col>
      <ion-card no-margin margin-bottom class="full-width">
        <ion-card-header>
          <h4 ion-text color="dark">03B WHITE: LAKE GROVE DYNAMITED (NYE)</h4>
        </ion-card-header>
        <ion-list>
          <ion-item>
            <ion-icon name="people" slot="start"></ion-icon> 
            <h2 ion-text color="dark">Jon Doe</h2>
          </ion-item>
        </ion-list>
      </ion-card>
      
      <ion-card no-margin margin-bottom>
        <ion-card-content>
          <p>Lorem ipsum...</p>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>


  <ion-button expand="full" size="large" color="tertiary">Button</ion-button>

</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <div class="tabs">
      <div class="tab" [ngClass]="{ 'active' : segment === 'hottest' }" (click)="onTabSelected('hottest')">
        <ion-icon name="flame"></ion-icon>
        <div class="label">Hottest</div>
      </div>
      <div class="tab" [ngClass]="{ 'active' : segment === 'favs' }" (click)="onTabSelected('favs')">
        <ion-icon name="star"></ion-icon>
        <div class="label">Favorites</div>
      </div>
      <div class="tab" [ngClass]="{ 'active' : segment === 'profile' }" (click)="onTabSelected('profile')">
        <ion-icon name="person"></ion-icon>
        <div class="label">Profile</div>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>