<ion-content>

  <swiper class="swiper-welcome" #swiper [config]="config" (slideChange)="swiperSlideChanged($event)"
    (reachEnd)="onLastSlide()">
    <ng-template swiperSlide>
<div id="content" class="animate__animated animate__fadeInUp">
  <ion-button class="ion-button-small ion-margin-top-medium ion-button-1" (click)="getStarted()" expand="block"
    size="medium" color="light" fill="clear">
    Entrer
  </ion-button>
  <br>
  <ion-button class="ion-button-small ion-margin-top-medium " routerLink="/signup" expand="block" size="medium"
    id="Inscrire" fill="clear">
    Inscrire
  </ion-button>

</div>
    </ng-template>

  

  </swiper>
</ion-content>

<!-- <ion-footer class="ion-padding-bottom-large animate__animated animate__fadeInUp">
  <ion-button class="ion-margin" expand="block" size="large" color="secondary" (click)="nextSlide()" *ngIf="!last_slide">
    Next
    <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
  </ion-button>
  <ion-button class="ion-margin" expand="block" size="large" color="secondary" (click)="getStarted()" *ngIf="last_slide">
    Get started
  </ion-button>
</ion-footer> -->
